{% extends "../base.html" %}
{% block content %}
{% load meals_extras %}

<h1>Ingredient: {{ food_item.name }}</h1>

<h3>Meals: {{ meals|length }}</h3>

{% if meals %}
	<table class="table sortable table-stripped">
		<tr>
			<th>Meal</th>
			<th>Quantity</th>
		</tr>
		{% for meal in meals %}
			<tr>
				<td><a href="{% url 'meals_item' meal_id=meal.pk %}">{{ meal.name }}</a></td>
				<td>{% call_method meal 'get_food_item_quantity' food_item %}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>{{ food_item.name }} is not used in any meals.</p>
{% endif %}

<h3>Purchases: {{ price_records|length }}</h3>

{% if price_records %}
	<table class="table sortable table-stripped">
		<tr>
			<th>Quantity</th>
			<th>Price</th>
			<th>Location</th>
			<th>Date</th>
		</tr>
		{% for purchase in price_records %}
			<tr>
				<td>{{ purchase.format_quantity }}</td>
				<td>{{ purchase.format_price }}</td>
				<td>{{ purchase.location }}</td>
				<td>{{ purchase.date }}</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}

{% include 'meals/food_purchase/form.html' %}

{% endblock %}