{% extends "../base.html" %}
{% block content %}
{% load meals_extras %}

<h1>Ingredient: {{ food_item.food_item_name }}</h1>

<h3>Meals: {{ meals|length }}</h3>

{% if meals %}
	<table class="table sortable table-stripped">
		<tr>
			<th>Meal</th>
			<th>Quantity</th>
		</tr>
		{% for meal in meals %}
			<tr>
				<td><a href="{% url 'meals_item' meal_id=meal.pk %}">{{ meal.meal_name }}</a></td>
				<td>{% call_method meal 'get_food_item_quantity' food_item %}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>{{ food_item.food_item_name }} is not used in any meals.</p>
{% endif %}

<h3>Purchases: {{ price_records|length }}</h3>

{% if price_records %}
	<table class="table sortable table-stripped">
		<tr>
			<th>Quantity</th>
			<th>Price</th>
			<th>Location</th>
			<th>Date</th>
		</tr>
		{% for purchase in price_records %}
			<tr>
				<td>{{ purchase.format_quantity }}</td>
				<td>{{ purchase.format_price }}</td>
				<td>{{ purchase.location }}</td>
				<td>{{ purchase.date }}</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}

<button id="add-purchase-btn" class="btn btn-primary">Add Purchase</button>

{% if food_price_record_form %}

	TODO: This HTML is also in the food_price_record/list.html template.  Refactor to a template fragment.
	
	<form id="new-purchase-form" action="{% url 'new_purchase' %}" method="POST" style="display:none;">
		{% csrf_token %}
		{{ food_price_record_form.as_p }}
		<button type="submit" class="btn btn-primary">Save Purchase</button>
		<button id="cancel-purchase-btn" type="button" class="btn btn-danger">Cancel</button>
	</form>

{% endif %}

<script>
	document.getElementById('add-purchase-btn').addEventListener('click', function() {
		document.getElementById('new-purchase-form').style.display='block';
		document.getElementById('add-purchase-btn').style.display='none';
	});

	document.getElementById('cancel-purchase-btn').addEventListener('click', function() {
		document.getElementById('new-purchase-form').style.display='none';
		document.getElementById('add-purchase-btn').style.display='block';
	});
</script>

{% endblock %}