{% extends '../base.html' %}

{% block content %}
	<h2>My Food Items</h2>

	<table class="table sortable table-stripped">
		<tr>
			<th>Food Item</th>
			<th># Meals</th>
			<th>Price</th>
			<th># Purchases</th>
			<th></th>
		</tr>
		{% for food_item in food_items %}
			<tr>
				<td>
					<a href="{% url 'food_item' food_item_id=food_item.pk %}">
						{{ food_item.name }}
					</a>
				</td>
				<td>{{ food_item.meals|length }}</td>
				<td>{{ food_item.get_newest_price }}</td>
				<td>{{ food_item.purchases|length }}</td>
				<td>
					<a href="{% url 'food_item_delete' food_item_id=food_item.pk %}" 
					   class="btn btn-danger"
					   onclick="return confirm('Are you sure you want to delete this food item?')">Delete</a>
				</td>
			</tr>
		{% endfor %}
	</table>

	<h2>Add New Food Item</h2>

	<form action="{% url 'new_food_item' %}" method="POST">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="submit">
		<input type="hidden" name="next" value="{{ request.path }}">
	</form>
{% endblock  %}