{% extends "../base.html" %}

{% block content %}
	<h1>Meal Diary</h1>


	<table class="table sortable table-stripped">
		<tr>
			<th>Meal</th>
			<th>Date</th>
			<th>Rating</th>
			<th>Time</th>
			<th></th>
		</tr>
		{% for instance in meal_instances %}
			<tr>
				<td>
					<a href="{% url 'meals_item' meal_id=instance.meal.pk %}">
						{{ instance.meal.meal_name }}
					</a>
				</td>
				<td>{{ instance.date }}</td>
				<td>{{ instance.format_rating }}</td>
				<td>{{ instance.format_cook_time }}</td>
				<td>
					<a href="{% url 'meal_instance_delete' meal_instance_id=instance.pk %}" 
					   class="btn btn-danger"
					   onclick="return confirm('Are you sure you want to delete this meal instance?')">Delete</a>
				</td>
			</tr>
		{% endfor %}
	</table>

	{% if meal_instance_form %}
		<button id="add-meal-instance-btn" class="btn btn-primary">Add Time Cooked</button>
	
		{% comment %}
			TODO-NEXT! Update the action of this form, so it points to the current page.
			This way, we can dispaly errorr message on the same page.
			Also then need to update the view to handle the form submission.
		{% endcomment %}
		{% comment %} <form id="meal-instance-form" action="{% url 'new_meal_instance' %}" method="POST" style="display:none;"> {% endcomment %}
		<form id="meal-instance-form" action="{% url 'meal_instance_list' %}" method="POST" style="display:none;">

			{% csrf_token %}
			{{ meal_instance_form.as_p }}
			<button type="submit" class="btn btn-success">Save Time Cooked</button>
			<button id="cancel-meal-instance-btn" type="button" class="btn btn-danger">Cancel</button>
		</form>

		<script>
			document.getElementById('add-meal-instance-btn').addEventListener('click', function() {
				document.getElementById('meal-instance-form').style.display='block';
				document.getElementById('add-meal-instance-btn').style.display='none';
			});
	
			document.getElementById('cancel-meal-instance-btn').addEventListener('click', function() {
				document.getElementById('meal-instance-form').style.display='none';
				document.getElementById('add-meal-instance-btn').style.display='block';
			});
		</script>
	{% endif %}

{% endblock %}