{% extends "./base.html" %}

{% block content%}

{% if user.is_authenticated %}
	<a href="{% url 'logout' %}">Logout</a>
	<hr>

	<div class="row">
		<div class="col-md-4">
			<a href="{% url 'new_purchase' %}">Log Purchases</a>
		</div>
		<div class="col-md-4">
			<a href="{% url 'meal_list' %}">My Meals</a>
		</div>
		<div class="col-md-4">
			<a href="{% url 'meal_instance_list' %}">Meal Diary</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<a href="{% url 'new_meal_instance' %}">Log Meal</a>
		</div>
		<div class="col-md-4">
			<a href="{% url 'food_item_list' %}">My Ingredients</a>
		</div>
		<div class="col-md-4">
			<a href="{% url 'purchase_list' %}">Purchase Diary</a>
		</div>
	</div>

{% else %}
	<a href="{% url 'login' %}">Login</a>
{% endif %}

{% endblock %}