{% comment %}
	This is the form used to create a new food_price_record.
	The form is hidden by default, and is shown when the user clicks the "Add Purchase" button.
{% endcomment %}

{% if food_price_record_form %}

	<button id="add-purchase-btn" class="btn btn-primary">Add Purchase</button>
	
	<form id="new-purchase-form" action="{% url 'new_purchase' %}" method="POST" style="display:none;">
		{% csrf_token %}
		{{ food_price_record_form.as_p }}
		<button type="submit" class="btn btn-primary">Save Purchase</button>
		<button id="cancel-purchase-btn" type="button" class="btn btn-danger">Cancel</button>
	</form>

{% endif %}

<script>
	document.getElementById('add-purchase-btn').addEventListener('click', function() {
		document.getElementById('new-purchase-form').style.display='block';
		document.getElementById('add-purchase-btn').style.display='none';
	});

	document.getElementById('cancel-purchase-btn').addEventListener('click', function() {
		document.getElementById('new-purchase-form').style.display='none';
		document.getElementById('add-purchase-btn').style.display='block';
	});
</script>