{% extends '../base.html' %}

{% block content%}

<h1>Meal: {{ meal.meal_name }}</h1>

<h2>Ingredients</h2>
{% if standard_ingredients %}
	<ul>
		{% for ingredient in standard_ingredients %}
			<li>
				{{ ingredient.quantity }} {{ ingredient.unit }} 
				<a href="{% url 'food_item' food_item_id=ingredient.food_item.pk %}">
					{{ ingredient.food_item.food_item_name }}
				</a> | 
				<form action="{% url 'ingredient_delete' ingredient_id=ingredient.pk %}" method="POST" style="display:inline">
					{% csrf_token %}
					<input type="hidden" name="_method" value="DELETE">
					<button type="submit" class="btn btn-danger btn-sm">
						Delete
					</button>
				</form>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p>You have no ingredients for this meal.</p>
{% endif %}

<button id="add-ingredient" class="btn btn-primary">Add Ingredient</button>


{% if standard_ingredients_form %}
	<form id="new-ingredient-form" action="{% url 'new_standard_ingredient' meal_id=meal.pk %}" method="POST" style="display:none;">
		{% csrf_token %}
		{{ standard_ingredients_form.as_p }}
		<button type="submit" class="btn btn-primary">Save</button>
	</form>
{% endif %}

<script>
	document.getElementById('add-ingredient').addEventListener('click', function() {
		document.getElementById('new-ingredient-form').style.display='block';
	});
</script>

<hr>

<h2>Times Cooked</h2>

{% if meal.meal_instances|length %}
	<ul>
		{% for instance in meal_instances %}
			<li>{{ instance.list_format }}</li>
		{% endfor %}
	</ul>
{% else %}
	You have never cooked this meal.
{% endif %}

<form action="{% url 'new_meal_instance' %}" method="post">
	{% csrf_token %}
	{{ meal_instance_form.as_p }}
	<button type="submit" class="btn btn-primary">Add Time Cooked</button>
</form>



{% endblock %}