{% extends "../base.html" %}

{% load crispy_forms_tags %}


{% block content %}
	<h1>My Meals</h1>

	<ul>
		{% for meal in meals %}
			<li><a href="{% url 'meals_item' meal.id %}">{{ meal.meal_name }}</a></li>
		{% endfor %}
	</ul>

	<hr>

	<h2>New Meal</h2>

	{% include 'meals/meals/meal_form.html' %}

	{% comment %} <form action="{% url 'meals_new' %}" method="POST">
		{% csrf_token %}
		{{ meal_form.as_p }}

		<h3>Ingredients</h3>
		<div id="ingredients-container">
			{{ ingredient_form|crispy }}
		<br/>
		<button type="button">Add Ingredient</button>

		<br/>
		<input type="submit" value="submit">
		<input type="hidden" name="redirect_location" value="{{ request.path }}">
	</form> {% endcomment %}

	{% comment %} <script>
	function addIngredientForm() {
		var container = document.getElementById('ingredients-container');
		var formCount = container.getElementsByTagName('input').length / 2 + 1; // Each ingredient form has 2 input fields
		var formHtml = '{% crispy ingredient_form %}'.replace(/__prefix__/g, formCount);
		container.insertAdjacentHTML('beforeend', formHtml);
	}
	</script> {% endcomment %}
		

{% endblock content %}