<form id="new-meal-form" action="{% url 'meal_list' %}" method="POST">
	{{ ingredient_formset.empty_form.media.css }}
	<h3>New Meal</h3>
	{% csrf_token %}
	<p>Meal Name: {{ meal_form.meal_name }}</p>
	
	<hr/>

	{{ ingredient_formset.management_form }}

	<div id="ingredients-container">
		{% for form in ingredient_formset %}
			<div id="ingredient-form-{{ forloop.counter0 }}">
				{{ form.as_p }}
				<button type="button" onclick="deleteIngredientForm({{ forloop.counter0 }})">Delete</button>
			</div>
		{% endfor %}
	</div>

	<div id="empty-ingredient-form" style="display:none">
		{{ ingredient_formset.empty_form.as_p }}
		<button type="button" onclick="deleteIngredientForm('__prefix__')" class="btn btn-danger">Delete</button>
		<hr/>
	</div>

	<br/>
	<button type="button" onclick=addIngredientForm() class="btn btn-primary">Add Ingredient</button>

	<input type="hidden" name="redirect_location" value="{{ request.path }}">

	<button type="submit" class="btn btn-success">Create Meal</button>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	{{ ingredient_formset.empty_form.media.js }}
</form>

<script>
	var ingredient_form_markup = document.getElementById('empty-ingredient-form').innerHTML;
	document.getElementById('empty-ingredient-form').remove();

	function addIngredientForm() {
		var formCountInput = document.getElementById('id_ingredient-TOTAL_FORMS');
		var formCount = parseInt(formCountInput.value);
		var compiledTmpl = ingredient_form_markup.replace(/__prefix__/g, formCount);
		var container = document.createElement('div');
		container.id = 'ingredient-form-' + formCount;
		container.innerHTML = compiledTmpl;
		var formContainer = document.getElementById('ingredients-container');
		formContainer.appendChild(container);
		formCountInput.value = formCount + 1;

		$('.django-select2').djangoSelect2({placeholder: 'Select an Ingredient', width: '500px', tags: true});
		
		
	}

	function deleteIngredientForm(formId) {
		var formContainer = document.getElementById('ingredients-container');
		var form = document.getElementById('ingredient-form-' + formId);
		formContainer.removeChild(form);
	}

</script>
