<form action="{% url 'meals_new' %}" method="POST">
	{% csrf_token %}
	<p>Meal Name: {{ meal_form.meal_name }}</p>
	
	<hr/>

	{{ ingredient_formset.management_form }}

	<div id="ingredients-container"></div>

	<div id="empty-ingredient-form" style="display:none">
		{{ ingredient_formset.empty_form.as_p }}
	</div>

	<br/>
	<button type="button" onclick=addIngredientForm()>Add Ingredient</button>

	<button type="submit">Submit</button>
</form>

<script>
	function addIngredientForm() {
		var formCountInput = document.getElementById('id_ingredient-TOTAL_FORMS');
		var formCount = parseInt(formCountInput.value);
		var tmplMarkup = document.getElementById('empty-ingredient-form').innerHTML;
		var compiledTmpl = tmplMarkup.replace(/__prefix__/g, formCount);
		var container = document.getElementById('ingredients-container');
		container.insertAdjacentHTML('beforeend', compiledTmpl);
		formCountInput.value = formCount + 1;
	}
</script>